RewriteEngine On

# REMOVE TRAILING SLASH
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)/$ /$1 [R=301,L]

# =========================
# PRODUCTS
# =========================

RewriteRule ^products/([^/]+)/([^/]+)/?$ catalog-item.php?cat=$1&slug=$2 [NC,L,QSA]

RewriteRule ^products/([^/]+)/?$ catalog-category.php?slug=$1 [NC,L,QSA]

RewriteRule ^products/?$ courses.php [NC,L,QSA]

# =========================
# SERVICES
# =========================

RewriteRule ^services/([^/]+)/([^/]+)/?$ catalog-item.php?cat=$1&slug=$2 [NC,L,QSA]

RewriteRule ^services/([^/]+)/?$ catalog-category.php?slug=$1 [NC,L,QSA]

RewriteRule ^services/?$ index.php [NC,L,QSA]

# =========================
# NEWS
# =========================

RewriteRule ^news/([^/]+)/?$ news-detail.php?slug=$1 [NC,L,QSA]

RewriteRule ^news/?$ news.php [NC,L,QSA]

# =========================
# SKIP EXISTING FILES
# =========================
